<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harry Potter Page</title>
    <style>
        .Boy {
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="Harry">Harry Potter</h1>
    <h2 class="Boy">The Boy Who Lived</h2>
    <h6 class="Boy">Wizarding World</h6>
    <p>
        Harry Potter is a young wizard who studies at
        <span style="color: green">Hogwarts</span> and fights dark magic.
    </p>
    <a href="https://www.wizardingworld.com/" target="_blank">Wizarding World</a>
    <img
        alt="Harry Potter"
        src="https://upload.wikimedia.org/wikipedia/en/d/d7/Harry_Potter_character_poster.jpg"
        style="width: 300px"
    >
    <ul>
        <li>Harry Potter</li>
        <li>Hermione Granger</li>
        <li>Ron Weasley</li>
    </ul>
    <ol>
        <li>The Search for the Philosopher's Stone</li>
        <li>Learning Magic</li>
        <li>Defeat Voldemort</li>
    </ol>
    <form action="https://www.wizardingworld.com/" method="POST">
        <input type="text" value="" placeholder="Your wizard name">
        <input required type="email" placeholder="Your owl mail">
        <input required type="password" placeholder="Secret spell">
        <textarea placeholder="Your favorite Hogwarts Faculty"></textarea>
        <button type="submit" disabled>Enter Hogwarts</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Faculty</td>
            <td>Role</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Harry</td>
            <td>Gryffindor</td>
            <td>Wizard</td>
        </tr>
        <tr>
            <td>Hermione</td>
            <td>Gryffindor</td>
            <td>Wizard</td>
        </tr>
        <tr>
            <td>Ron</td>
            <td>Gryffindor</td>
            <td>Muggle</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>